<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Make a new comment</h1>
    <a href="/comments">Go back</a>
    <form action="/comments" method="POST">
        <div>
            <label for="username">Enter username:</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="comment">Enter in comment:</label>
            <br />
            <textarea name="comment" id="comment" cols="30" rows="4"></textarea>
        </div>
        <button>Submit</button>
    </form>
</body>

</html>